body {
  font-family: Helvetica, Arial, Sans-Serif;
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
}

header{
  background-color: blue;
}
#principal{
padding-left: 30%;
padding-right: 30%;

}


h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 50px;

}
h2 {
font-size: 12px;
text-align: center;
}

article {
  font-size: 12px;
  color:gray;
  text-align:left;

}
