header {
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
}

.galeria {
    
    background-color:floralwhite;
    
  
   
   
}


h1 {
    font-family: Futura Hv BT;
    font-size: 550%;
    color: red;
}



div {
    font-family: Futura Hv BT;
    font-size: 130%;
    font-style: bold;

}


img {
    width: 20%;
    height: 20%;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}
