header {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
   margin: 0;
   padding: 0;
}

.galeria {
    
    width: 150%;
    height: 100vh;
    /* height: 900px;*/
    /*background-color: floralwhite;*/  
    
flex-direction: column;
flex-wrap: wrap;
/*justify-content: space-between;*/
align-items: scretch;
max-width: 80%;
min-width: none;

   
   
}


h1 {
    font-family: Futura Hv BT;
    font-size: 550%;
    color: red;
}



div {
    font-family: Futura Hv BT;
    font-size: 130%;
    font-style: bold;

}


img {
    width: 20%;
    height: 20%;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}
